<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <app-test>
        <h1 class="text-info">HTML</h1>
        <p class="alert alert-info">HTML is Hypertext Markup Language.<br>HTML is used to define the content of layout</p>
        <h2 class="text-danger">CSS</h2>
        <p class="alert alert-warning info2">CSS is Cascading Stylesheet. <br>CSS is the layout of webPage</p>
      </app-test>

     <hr>

    
    </div>
   

    <hr>

    
    
  </div>

  <hr>
<h2 class="bg-info">Auth Task</h2>
   <div class="row">
       <div class="col-md-6">
       <app-auth><h2>Sign Up</h2>
        <button class="btn btn-sm btn-primary">Sign Up</button>
       </app-auth>
       
     </div>
      
     <div class="col-md-6">
       <app-auth>
        <h2>Login</h2>
        <button class="btn btn-sm btn-primary">Login</button>
       </app-auth>

     </div>
    </div>

    <hr>
    <h2 class="bg-success">API Post Card</h2>
<div class="row">
      <div class="col-md-4 mb-3" *ngFor="let post of postArr">
        <app-post-card>
          <h2>{{post.title}}</h2>
          <p>{{post.body}}</p>

          <div class="card-action d-flex justify-content-between">
            <button class="btn btn-sm btn-outline-info" data-id="{{post.id}}">Edit</button>  
            <button class="btn btn-sm btn-outline-danger">Remove</button>    
           </div>
        </app-post-card>
      </div>
    </div>

    <hr>
    <h1 class="bg-danger">confirm Dialog Box</h1>
    <div class="row">
       <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2>title</h2>
          </div>
         <div class="card-body">
           <p>Html is hypertext markup language</p>
         </div>

         <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-sm btn-outline-primary">Edit</button>
          <button (click)="onPostRemove()" class="btn btn-sm btn-outline-danger">Remove</button>
         </div>
        </div>
       </div>
    </div>
</div>

 <app-get-confirmation [show]="showModal"
 (emitShowFlag)="getShowFlag($event)"
 (RempveApiflag)="getConfirmation($event)">
  <h2>Are you sure, you want to remove this post?</h2>
  <p>
    we cant revert back
  </p>
</app-get-confirmation>
